

.textoSection-certificaciones {
    color: #000769;
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
}

.textoSection-certificaciones p {
    color: #000769;
    font-size: 53px;
    font-weight: lighter;
}
